{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint",
      "no-loops",
      "prettier",
      "prettier-plugin-organize-imports"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "prettier"
    ],
    "rules": {
       "no-console": 1,
      "@typescript-eslint/no-explicit-any": "off",
      "prettier/prettier": 2
    }
  }